<mat-horizontal-stepper [linear]="true" #stepper>
  <mat-step [stepControl]="css2TsFormGroup" [formGroup]="css2TsFormGroup">
    <ng-template matStepLabel>选择css文件</ng-template>
    <input type="file" name="cssFile" id="" (change)="selectFile($event)" accept="text/css" formControlName="file">
    <div>
      <button mat-button matStepperNext>下一步</button>
    </div>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup" [formGroup]="secondFormGroup" [optional]="true">
    <ng-template matStepLabel>定义动画</ng-template>
    正在编写
    <div>
      <button mat-button matStepperPrevious>上一步</button>
      <button mat-button matStepperNext>下一步</button>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>下载ts文件</ng-template>
    <a [href]="ngAnimation.url" [download]="ngAnimation.fileName">下载文件</a>
    <div>
      <button mat-button matStepperPrevious>上一步</button>
      <button mat-button (click)="stepper.reset()">重置</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
