@import '../../../assets/theme/variable.scss';
$primary-color:mat-color($candy-app-primary);

:host {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  border: 1px solid $primary-color;
  border-radius: 1rem;
}

app-input-item,
  {
  padding: 0.5rem;
}

button {
  margin: 0.5rem;
}
