<div *ngIf="keyframesOptions" [formGroup]="formGroup">
  <div class="row-line">
    <mat-form-field class="">
      <span matPrefix>状态名:</span>
      <input matInput placeholder="请输入状态名" formControlName="stateName">
    </mat-form-field>
  </div>
  <div class="row-layout ">
    <mat-form-field class="">
      <span matPrefix>关键帧规则:</span>
      <input matInput placeholder="请输入或选择关键帧规则" [matAutocomplete]="auto" formControlName="keyframeRule">
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="keyframesSelected()">
        <mat-option *ngFor="let item of keyframesOptions|async; let i=index " [value]="item">
          {{item}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <div class="column-layout">
      <mat-form-field>
        <mat-select placeholder="请选择某一关键帧" formControlName="keyframeList">
          <mat-option *ngFor="let item of keyframeOptions|keyvalue" [value]="item.value">
            {{item.value|json}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="">
        <textarea matInput placeholder="请输入css样式(小驼峰)" formControlName="cssStr" cdkTextareaAutosize cdkAutosizeMinRows="1"></textarea>
      </mat-form-field>
    </div>

  </div>
</div>
